.clr-b
    color: var(--colorBase)
.clr-l
    color: var(--colorLight)
.clr-l2
    color: var(--colorLightest)
.clr-d
    color: var(--colorDark)
.clr-d2
    color: var(--colorDarkest)
.clr-h
    color: var(--colorHilite)

.bg-b
    background-color: var(--colorBase)
.bg-l
    background-color: var(--colorLight)
.bg-l2
    background-color: var(--colorLightest)
.bg-d
    background-color: var(--colorDark)
.bg-d2
    background-color: var(--colorDarkest)
.bg-h
    background-color: var(--colorHilite)
.bg-none
    background-color: transparent

.brdClr-b
    border-color: var(--colorBase)
.brdClr-l
    border-color: var(--colorLight)
.brdClr-l2
    border-color: var(--colorLightest)
.brdClr-d
    border-color: var(--colorDark)
.brdClr-d2
    border-color: var(--colorDarkest)
.brdClr-h
    border-color: var(--colorHilite)

+mp
    .clr-b-mp
        color: var(--colorBase)
    .clr-l-mp
        color: var(--colorLight)
    .clr-l2-mp
        color: var(--colorLightest)
    .clr-d-mp
        color: var(--colorDark)
    .clr-d2-mp
        color: var(--colorDarkest)
    .clr-h-mp
        color: var(--colorHilite)

    .bg-b-mp
        background-color: var(--colorBase)
    .bg-l-mp
        background-color: var(--colorLight)
    .bg-l2-mp
        background-color: var(--colorLightest)
    .bg-d-mp
        background-color: var(--colorDark)
    .bg-d2-mp
        background-color: var(--colorDarkest)
    .bg-h-mp
        background-color: var(--colorHilite)
    .bg-none-mp
        background-color: transparent

    .brdClr-b-mp
        border-color: var(--colorBase)
    .brdClr-l-mp
        border-color: var(--colorLight)
    .brdClr-l2-mp
        border-color: var(--colorLightest)
    .brdClr-d-mp
        border-color: var(--colorDark)
    .brdClr-d2-mp
        border-color: var(--colorDarkest)
    .brdClr-h-mp
        border-color: var(--colorHilite)

+ml
    .clr-b-ml
        color: var(--colorBase)
    .clr-l-ml
        color: var(--colorLight)
    .clr-l2-ml
        color: var(--colorLightest)
    .clr-d-ml
        color: var(--colorDark)
    .clr-d2-ml
        color: var(--colorDarkest)
    .clr-h-ml
        color: var(--colorHilite)

    .bg-b-ml
        background-color: var(--colorBase)
    .bg-l-ml
        background-color: var(--colorLight)
    .bg-l2-ml
        background-color: var(--colorLightest)
    .bg-d-ml
        background-color: var(--colorDark)
    .bg-d2-ml
        background-color: var(--colorDarkest)
    .bg-h-ml
        background-color: var(--colorHilite)
    .bg-none-ml
        background-color: transparent

    .brdClr-b-ml
        border-color: var(--colorBase)
    .brdClr-l-ml
        border-color: var(--colorLight)
    .brdClr-l2-ml
        border-color: var(--colorLightest)
    .brdClr-d-ml
        border-color: var(--colorDark)
    .brdClr-d2-ml
        border-color: var(--colorDarkest)
    .brdClr-h-ml
        border-color: var(--colorHilite)

+m
    .clr-b-m
        color: var(--colorBase)
    .clr-l-m
        color: var(--colorLight)
    .clr-l2-m
        color: var(--colorLightest)
    .clr-d-m
        color: var(--colorDark)
    .clr-d2-m
        color: var(--colorDarkest)
    .clr-h-m
        color: var(--colorHilite)

    .bg-b-m
        background-color: var(--colorBase)
    .bg-l-m
        background-color: var(--colorLight)
    .bg-l2-m
        background-color: var(--colorLightest)
    .bg-d-m
        background-color: var(--colorDark)
    .bg-d2-m
        background-color: var(--colorDarkest)
    .bg-h-m
        background-color: var(--colorHilite)
    .bg-none
        background-color: transparent

    .brdClr-b-m
        border-color: var(--colorBase)
    .brdClr-l-m
        border-color: var(--colorLight)
    .brdClr-l2-m
        border-color: var(--colorLightest)
    .brdClr-d-m
        border-color: var(--colorDark)
    .brdClr-d2-m
        border-color: var(--colorDarkest)
    .brdClr-h-m
        border-color: var(--colorHilite)

+tp
    .clr-b-tp
        color: var(--colorBase)
    .clr-l-tp
        color: var(--colorLight)
    .clr-l2-tp
        color: var(--colorLightest)
    .clr-d-tp
        color: var(--colorDark)
    .clr-d2-tp
        color: var(--colorDarkest)
    .clr-h-tp
        color: var(--colorHilite)

    .bg-b-tp
        background-color: var(--colorBase)
    .bg-l-tp
        background-color: var(--colorLight)
    .bg-l2-tp
        background-color: var(--colorLightest)
    .bg-d-tp
        background-color: var(--colorDark)
    .bg-d2-tp
        background-color: var(--colorDarkest)
    .bg-h-tp
        background-color: var(--colorHilite)
    .bg-none-tp
        background-color: transparent

    .brdClr-b-tp
        border-color: var(--colorBase)
    .brdClr-l-tp
        border-color: var(--colorLight)
    .brdClr-l2-tp
        border-color: var(--colorLightest)
    .brdClr-d-tp
        border-color: var(--colorDark)
    .brdClr-d2-tp
        border-color: var(--colorDarkest)
    .brdClr-h-tp
        border-color: var(--colorHilite)

+tl
    .clr-b-tl
        color: var(--colorBase)
    .clr-l-tl
        color: var(--colorLight)
    .clr-l2-tl
        color: var(--colorLightest)
    .clr-d-tl
        color: var(--colorDark)
    .clr-d2-tl
        color: var(--colorDarkest)
    .clr-h-tl
        color: var(--colorHilite)

    .bg-b-tl
        background-color: var(--colorBase)
    .bg-l-tl
        background-color: var(--colorLight)
    .bg-l2-tl
        background-color: var(--colorLightest)
    .bg-d-tl
        background-color: var(--colorDark)
    .bg-d2-tl
        background-color: var(--colorDarkest)
    .bg-h-tl
        background-color: var(--colorHilite)
    .bg-none-tl
        background-color: transparent

    .brdClr-b-tl
        border-color: var(--colorBase)
    .brdClr-l-tl
        border-color: var(--colorLight)
    .brdClr-l2-tl
        border-color: var(--colorLightest)
    .brdClr-d-tl
        border-color: var(--colorDark)
    .brdClr-d2-tl
        border-color: var(--colorDarkest)
    .brdClr-h-tl
        border-color: var(--colorHilite)

+t
    .clr-b-t
        color: var(--colorBase)
    .clr-l-t
        color: var(--colorLight)
    .clr-l2-t
        color: var(--colorLightest)
    .clr-d-t
        color: var(--colorDark)
    .clr-d2-t
        color: var(--colorDarkest)
    .clr-h-t
        color: var(--colorHilite)

    .bg-b-t
        background-color: var(--colorBase)
    .bg-l-t
        background-color: var(--colorLight)
    .bg-l2-t
        background-color: var(--colorLightest)
    .bg-d-t
        background-color: var(--colorDark)
    .bg-d2-t
        background-color: var(--colorDarkest)
    .bg-h-t
        background-color: var(--colorHilite)
    .bg-none-t
        background-color: transparent

    .brdClr-b-t
        border-color: var(--colorBase)
    .brdClr-l-t
        border-color: var(--colorLight)
    .brdClr-l2-t
        border-color: var(--colorLightest)
    .brdClr-d-t
        border-color: var(--colorDark)
    .brdClr-d2-t
        border-color: var(--colorDarkest)
    .brdClr-h-t
        border-color: var(--colorHilite)

+l
    .clr-b-l
        color: var(--colorBase)
    .clr-l-l
        color: var(--colorLight)
    .clr-l2-l
        color: var(--colorLightest)
    .clr-d-l
        color: var(--colorDark)
    .clr-d2-l
        color: var(--colorDarkest)
    .clr-h-l
        color: var(--colorHilite)

    .bg-b-l
        background-color: var(--colorBase)
    .bg-l-l
        background-color: var(--colorLight)
    .bg-l2-l
        background-color: var(--colorLightest)
    .bg-d-l
        background-color: var(--colorDark)
    .bg-d2-l
        background-color: var(--colorDarkest)
    .bg-h-l
        background-color: var(--colorHilite)
    .bg-none-l
        background-color: transparent

    .brdClr-b-l
        border-color: var(--colorBase)
    .brdClr-l-l
        border-color: var(--colorLight)
    .brdClr-l2-l
        border-color: var(--colorLightest)
    .brdClr-d-l
        border-color: var(--colorDark)
    .brdClr-d2-l
        border-color: var(--colorDarkest)
    .brdClr-h-l
        border-color: var(--colorHilite)

+hd
    .clr-b-hd
        color: var(--colorBase)
    .clr-l-hd
        color: var(--colorLight)
    .clr-l2-hd
        color: var(--colorLightest)
    .clr-d-hd
        color: var(--colorDark)
    .clr-d2-hd
        color: var(--colorDarkest)
    .clr-h-hd
        color: var(--colorHilite)

    .bg-b-hd
        background-color: var(--colorBase)
    .bg-l-hd
        background-color: var(--colorLight)
    .bg-l2-hd
        background-color: var(--colorLightest)
    .bg-d-hd
        background-color: var(--colorDark)
    .bg-d2-hd
        background-color: var(--colorDarkest)
    .bg-h-hd
        background-color: var(--colorHilite)
    .bg-none-hd
        background-color: transparent

    .brdClr-b-hd
        border-color: var(--colorBase)
    .brdClr-l-hd
        border-color: var(--colorLight)
    .brdClr-l2-hd
        border-color: var(--colorLightest)
    .brdClr-d-hd
        border-color: var(--colorDark)
    .brdClr-d2-hd
        border-color: var(--colorDarkest)
    .brdClr-h-hd
        border-color: var(--colorHilite)

